{% extends "user/base.html" %}
{% load static %}
{% block title %}Car Rent Confirmation{% endblock %}

{% block content %}
    <div class="bg-white p-6 rounded-lg shadow-md mt-6">
        <h1 class="text-3xl font-bold mb-4">Confirm Order</h1>

        <div class="bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden flex">
            <div class="w-1/3 p-4">
                {% if car.image %}
                    <img src="{{ car.image.url }}" alt="Image of car {{ car.model }}"
                         class="w-full h-auto object-contain">
                {% else %}
                    <img src="{% static 'images/default-car.jpg' %}" alt="Default car image"
                         class="w-full h-auto object-contain">
                {% endif %}
            </div>

            <div class="p-6 w-2/3 bg-white shadow-lg rounded-lg">
                <h2 class="text-3xl font-semibold text-gray-800 mb-6 border-b pb-2">
                    {{ car.model }} ({{ car.year }})
                </h2>

                <p class="text-gray-700 mb-3">
                    <strong class="text-gray-900">Class:</strong> {{ car.get_class_of_car_display }}
                </p>
                <p class="text-gray-700 mb-3">
                    <strong class="text-gray-900">Price per day:</strong> ${{ car.price_per_day }}
                </p>
                <p class="text-gray-700 mb-3">
                    <strong class="text-gray-900">Date of beginning rent:</strong> {{ rental_start_date }}
                </p>
                <p class="text-gray-700 mb-3">
                    <strong class="text-gray-900">Date of end rent:</strong> {{ rental_end_date }}
                </p>
                <div class="flex items-center justify-start mt-6">
                    <strong class="text-gray-900 text-lg">Total Price:</strong>
                    <div class="ml-4 px-6 py-3 bg-red-500 text-white text-xl font-bold rounded-lg shadow">
                        ${{ total_price }}

                    </div>
                </div>
                <a href="{% url 'successfull' car_id=car.id %}" class="flex items-center justify-start mt-6">
                    <strong class="text-gray-800 text-lg">Interested?</strong>
                    <div class="ml-4 px-6 py-3 bg-green-500 text-white text-xl font-bold rounded-lg shadow">
                        Rent
                    </div>
                </a>
            </div>



{% endblock %}